<section class="container-login">
  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <mat-card>
      <div>
        <img id="tooth-image" src="assets/tooth.png" alt="">
      </div>
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Username" formControlName="username">
              <mat-error *ngIf="form.controls['username'].hasError('required')">
                username is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password">
              <mat-error *ngIf="form.controls['password'].hasError('required')">
                password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button class="button-larger" mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
