
.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .mat-card {
    min-width: 300px;

    .mat-form-field {
      width: 100%;
    }
  }
}

.button-larger {
  width: 100%;
}

.mat-card-header {
  display: flex;
  align-items: center;
}

#tooth-image {
  width: 300px;
}
