<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar *ngIf="isLogged" color="primary">
      <div class="left-align-toolbar">
        <span>{{title}}</span>
      </div>

      <div class="right-align-toolbar" (click)="logout()">
        <span>Bem vindo, {{user?.username}}</span>
        <mat-icon>logout</mat-icon>
      </div>
    </mat-toolbar>

    <section [class.login-style]="!isLogged"  id="main-content">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
