:host {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

#spinner{
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 64px);
}
